.fileManager {
    height: 100%;
    display: inline;
    background: #ffffff;
}

.module-preview.fileManager h2 {
    background-image: url(logo.png);
    background-position: 8px center;
    background-repeat: no-repeat;
    padding: 0px 8px 0px 70px;
    height: 60px;
    line-height: 60px;
    margin: 0px;
}

.module-preview.fileManager.template-manager h2 {
    background-image: url(templatemanagerlogo.png);
}

.fileManager > .header {
    background: transparent url('../../../../gfx/insm/background_tile.jpg') repeat;
    height: 100px;
    width: 100%;
}

.fileManager > .header > .module-logo {
    background: transparent url(filemanager.png) 20px center no-repeat;
    width: 100%;
    height: 100%;
}

.fileManager.template-manager > .header > .module-logo {
    background: transparent url(templatemanager.png) 20px center no-repeat;
}

.fileManager > .header > .company-logo {
    float: right;
    background: transparent url('../../../../gfx/insm/insm_logo.png') right center no-repeat;
    width: 100%;
    height: 100%;
}

.fileManager > .container {
    float: left;
}

.fileManager .controls-container {
    padding: 8px;
    background: #f0f0f0;
    border-bottom: 2px solid #666666;
    min-height: 29px;
}

.fileManager .controls-container button {
    margin-right: 4px;
}

.fileManager > .fileManager-container > .container > a.toggleRegionPicker {
    padding-left: 16px;
    margin-right: 16px;
}

.fileManager > .fileManager-container > .container > a.toggleRegionPicker.show {
    background: transparent url('../../../../gfx/insm/icons/arrow-right.png') left center no-repeat
}

.fileManager > .fileManager-container > .container > a.toggleRegionPicker.hide {
    background: transparent url('../../../../gfx/insm/icons/arrow-left.png') left center no-repeat
}

.filterContainer {
    display: inline;
}

.filterContainer .filterTitle {
    font-weight: bold;
    margin-right: 15px;
}

.filterContainer > * {
    margin: 0 15px 0 8px;
    display: inline-block;
}

.filterContainer span {
    margin-right: 0px;
}

.filterContainer > .searchfield-container {
    height: 18px;
}

.fileManager .itemGrid {
    overflow: auto;
    height: 100%;
}

.filemanager-itemGrid-file {
    width: 160px;
    height: 120px;
    float: left;
    position: relative;
}

.filemanager-itemGrid-file > .image-container
{
    width: 160px;
    height: 100px;
    line-height: 98px;
    text-align: center;
    background: #f0f0f0;
}

.filemanager-itemGrid-file > .image-container.is-highlighted
{
    background: #fea;
}


.filemanager-itemGrid-file > .image-container > img {
    max-width: 160px;
    max-height: 100px;
    display: inline-block;
    vertical-align: middle;
}

.filemanager-itemGrid-file > h2 {
    width: 152px;
    height: 20px;
    padding: 0px 4px;
    line-height: 20px;
    font-size: 10px;
    overflow: hidden;
}

.filemanager-itemGrid-file > h2.is-highlighted
{
    background: #fea;
}

.fileManager > .single-message {
    margin: auto;
    margin-top: 200px;
    display: table;
    text-align: center;
}

.filemanager-itemGrid-file .remainingTimePlayStart,
.filemanager-itemGrid-file .remainingTimePlayEnd {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 20px;
    width: 35px;
    height: 20px;
    background-color: #222;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
}

.filemanager-itemGrid-file .remainingTimePlayStart {
    left: 0;
}
.filemanager-itemGrid-file .remainingTimePlayEnd {
    right: 0;
}