#header
{
    background: #000 url('../../../../gfx/insm/background_tile.jpg') repeat;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #666;
}

#header .logo {
    background: transparent url('systemconfiguration.png') 16px center no-repeat;
    width: 100%;
    height: 100%;
}

#content {
    display: block;
    background: none;
}

#content .menu {
    padding: 8px;
    border-bottom: 1px solid #aaa;
    background: #ddd;
}

#content .menu .button {
    margin-right: 8px;
}

#content .content > div > a.button {
    margin: 16px;
    margin-right: 0px;
}

#insm-control-panel > .table-view > a.button {
    margin: 16px;
    margin-right: 0px;
}

#insm-breadcrumbs {
    display: none;
}

#insm-control-panel {
    padding: 0px;
}

table {
    border: 1px solid #c0c0c0;
    margin: 16px;
}

table.insm-tablesorter {
    border: 0px;
    margin: 0px;
}

table.horizontal {
    border: 0px;
    margin: 0px;
}

#insm-login-form table {
    border: none;
}

table tr td {
    padding: 16px;
}

#insm-login-form table tr td {
    padding: 8px;
}

/*
 * Notification area
 */

#insmNotificationContainer 
{
    position: relative;
    width: 100%;
    background: #f0f0f0;
    border-bottom: 2px solid #666666;
    height: 45px;
}

#insmNotificationContainer .notification
{
    border: 0px;
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
    width: 100%;
    float: left;
    clear: left;
    height: 45px;
    line-height: 45px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select.is-highlighted-error {
    border: 1px solid #ff3333;
    background: #ffbbbb;
}