input.insm-search-input {
    float: left;

    width: 100px;
    float: left;
    padding-left: 28px;
    background: #fff url('plugins/insmSearchfield/icon.png') 8px center no-repeat;
}

a.insm-search-button, a.insm-clear-button 
{
    display: none;

    width: 20px;
    height: 20px;
    border-left: 0px;
    border: 1px solid #000;
    border-left: none;
    text-decoration: none;
    float: left;
}

a.insm-search-button 
{
    background: url("../../gfx/insm/icons/search.png") no-repeat scroll center #FFFFFF;
    border-right: none;
    border-left: none;
}

a.insm-clear-button
{
    background: url("../../gfx/insm/icons/clear_search.png") no-repeat scroll center #FFFFFF;
    border-left: none;
}
